<div class="haozi-header">
  <div class="zhanwei"></div>
  <header :class="{openNav: store.state.isOpenBar}" :style="bar">
    <div class="openBar" @click="openNav" :class="{open: store.state.isOpenBar}">
      <Icon bars name="bars" scale="1.5"></Icon>
    </div>
    <a class="logo" href="" :style="logo">
      <img src="http://ww1.sinaimg.cn/large/6f50f3bbgy1fhakb3uztdj20ht0hsnc3.jpg" width="100" height="100" alt="haozi's faceImage" :style="logo">
    </a>
    <nav>
      <ul>
        <li v-for="(navigation, index) in store.state.navigations" role="presentation">
          <router-link :to="navigation.path">
            <a :herf="navigation.path" :class="{'active': index === active}" @click="selectNavigations(index)">{{navigation.title}}</a>
          </router-link>
        </li>
      </ul>
    </nav>
  </header>
</div>
