@import "../../../assets/css/mq"

.haozi
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  justify-content: flex-start
  align-self: center
  flex: 1
  width: 100%

  .main
    min-height: calc(100vh - 132px)
    min-width: 320px
    width: 100%
    max-width: 740px
    flex: 1 1 auto
    z-index: 2
    overflow-x: hidden
    align-content: center
    align-self: center
    transition: all 0.5s

    @include mq($until: tablet)
      min-height: calc(100vh - 61px)

  @include mq($until: tablet)
  /*.main*/
    /*margin-left: 250px*/

  .openNav
    //margin-left: 250px
