<div class="admin-postlist">
  <div class="admin-post-list">
    <ul>
      <li v-for="post in posts" @click="preview(post.postId)">
        <!--<router-link :to='"/admin/editor/" + post.postId'>-->
        <a>
          <div class="admin-postlist-item">
            <span>#{{ post.postId}} - {{ post.title}}</span>
            <div>
              <img :src='"/file/" + post.createBy + ".png"' alt="">
              <a class="edit">{{ ifHasLocalStorageVersion(post) ? 'Draft' : '' }}</a>
              <a class="publish">{{ post.isShow ? '' : 'unpublish' }}</a>
            </div>
          </div>
        </a>
        <!--</router-link>-->
      </li>
    </ul>
  </div>
  <div class="admin-preview">
    <div>
      <a @click="edit">Edit</a>
      <a @click="openPreView">Preview</a>
    </div>
    <Markdown v-html="selectpost.html"></Markdown>
  </div>
</div>
