$font: Monaco, 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif
$fontSize: 16px


*
  font-family: $font
  padding: 0px
  margin: 0px

body
  font-family: 100% $font
  font-size: $fontSize


$black: #34495E
$green: #42B983
$red: #DA5961
$orange: #FBB638
$gray: #8699A3
$blue: #6FA7DB
