.haozi-posts
  display: flex
  flex-wrap: nowrap
  flex-direction: column
  height: 100%
  width: 90%
  margin-left: 5%
  overflow: hidden

  ul
    list-style-type: none

  img
    box-shadow: none !important
